html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white;
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
h1 {
 font-size: 200%;
 color: navy;
 text-align: center;
 }
h2 {
 font-size: 150%;
 color: red;
 padding-left: 15px;
 }
p,ul,li,td {

 color: black;
 margin: 25;
 padding: 25 ;
 }

p {
  text-align: justify;
}
.ctrcadre {
  border: 1px solid black;
}

a:link {
 color: green;
 text-decoration: underline;
 text-align: center;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}
em {
  color: green;
}
/* appeller une classe mattre point (.+nomdelaclass)*/
.rg
{
  color:red;
}
.ctrcadre
{
  text-align: center;
}
img {
  display :block;
  margin:0 auto;
}
td {
  color:blue;
}
th {
  color: red;
}
span {
  font-weight: bold;
}
